* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  height: 100vh;
  background-color: #f5f5f5;
}

.login_page {
  width: 320px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login_page h1 {
  color: #333;
  font-size: 1.75rem;
  margin-bottom: 10px;
}

.sign_up_Page {
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.signUp_link {
  text-decoration: none;
  color: #0061fe;
}

.signUp_link:hover {
  color: red;
}

.input_fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

input[type="text"],
input[type="password"] {
  padding-left: 1rem;
  height: 38px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  color: #333;
  font-size: 1rem;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}

input:focus {
  border: 1px solid #02029b;
}

input::placeholder {
  color: #aaa;
}

.checkbox_container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.25rem;
}

.login_checkbox {
  transform: scale(1.3);
  accent-color: #0061fe;
  cursor: pointer;
}

.checkbox_container label {
  font-size: 0.875rem;
  color: #333;
}

.login_button {
  background-color: #0061fe;
  color: #fff;
  border: none;
  outline: none;
  padding: 0.675rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  transition: background-color 0.4s ease;
}

.login_button:hover {
  background-color: #0051d4;
}

.error_message {
  color: rgb(220, 1, 1);
  font-size: 0.75rem;
}

.email_container,
.password_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
